<br><br><br><br><br><br>

<h3>Title : <%= @tag.title %></h3>

<div class="row">
  <span class="col-xs-4"></span>
  <span class="col-xs-1"><%= link_to 'Top', posts_path, class: "menu" %></span>
  <span class="col-xs-2"></span>
  <span class="col-xs-1"><%= link_to 'See All Tags', tags_path, class: "menu" %></span>
  <span class="col-xs-4"></span>
</div>
