<div class="sub-title">
  <p class="second_title2">タグ</p>
</div>

<br><br><br><br><br><br>

<h3>タグ名 : <%= @tag.title %></h3>

<div class="row">
  <span class="col-xs-4"></span>
  <span class="col-xs-1"><%= link_to 'トップ', posts_path, class: "menu" %></span>
  <span class="col-xs-2"></span>
  <span class="col-xs-1"><%= link_to '全タグ', tags_path, class: "menu" %></span>
  <span class="col-xs-4"></span>
</div>
