<h4>User Name</h4>

<% @posts.each do |post| %>
<p>
  <span>image<%= link_to 'ðŸ”', post_path(post.id) %></span>
</p>
<p><%= post.spot_name %></p>
<p><%= post.prefecture %><%= post.address %></p>
<% end %>
