.login_top {
  width: 400px;
}

.concept {
  vertical-align: top;
  line-height: 12px;
  width: 450px;
  height: auto;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  font-size: 14px;
  text-align: center;
}

.concept2 {
  width: 520px;
  height: auto;
  margin-left: 6rem;
  margin-bottom: 2rem;
  font-size: 14px;
  text-align: center;
}

.concept3{
  vertical-align: top;
  line-height: 10px;
  font-size: 10px;
  text-align: left;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  border: solid 1.5px;
  box-shadow: 10px 5px 5px #000000;
  background-color: #FFF;
  color: #000000;
}
