.concept {
  vertical-align: top;
  line-height: 12px;
  width: 980px;
  height: auto;
  margin: auto;
  margin-bottom: 4rem;
  font-size: 14px;
  text-align: center;
}

.concept2 {
  vertical-align: top;
  line-height: 12px;
  height: auto;
  width: auto;
  font-size: 14px;
  text-align: left;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  border: solid 1.5px;
  box-shadow: 10px 5px 5px #000000;
  background-color: #FFF;
  color: #000000;
}
