// 全体
html {
  position: relative;
  width:100%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
}

.container {
  margin:0 auto;
  color:#2D2D31;
  margin: 3px;
  padding: 10px;
  border: solid 1px #D9D7D7;
  float: left;
}

#blank {
  padding-top: 20px;
  clear: left;
}

.row {
  text-align: center;
  width: 980px;
  height: auto;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

// ヘッダー
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  margin: auto;
  background-color:#FFF;
}

.logo {
  position: fixed;
  top: 1rem;
  left: 0rem;
  float: left;
}

.menu1 {
  position: fixed;
  top: 1rem;
  right: 1rem;
  float: right;

  text-align: center;
  height:40px;
  width: 100px;
  background-color:#000000;
  color: #fff;
  text-decoration: none;
  font-family: arial;
  display: block;
  border-radius: 4px;
  padding-top: 10px;
}

.menu2 {
  position: fixed;
  top: 1rem;
  right: 12rem;
  float: right;

  text-align: center;
  height:40px;
  width: 100px;
  background-color:#000000;
  color: #fff;
  text-decoration: none;
  font-family: arial;
  display: block;
  border-radius: 4px;
  padding-top: 10px;
}

.home {
  position: fixed;
  top: 1rem;
  right: 12rem;
  float: right;
}

.pin {
  position: fixed;
  top: 1rem;
  right: 17rem;
  float: right;
}

.user {
  position: fixed;
  top: 1rem;
  right: 22rem;
  float: right;
}

.admin {
  position: fixed;
  top: 1rem;
  right: 27rem;
  float: right;
}

.search {
  position: fixed;
  top: 5px;
  left: 20px;
  text-align: center;
  width: 100%;
  height: 70px;
  margin: auto;
  float: left;
}

// フッダー
// .footerFixed{
//     min-height: 100vh;
//     position: relative;
//     padding-bottom: 0px;
//     box-sizing: border-box;
// }

footer {
  text-align: center;
  width: 100%;
  background-color:#000000;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
}

// content
li {
  list-style: none;
}

#error_explanation {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 8rem;
}

.favorite {
  position: fixed;
  top: 6.5rem;
  right: 1rem;
  float: right;
}

.icon_edit {
  float: left;
  position: fixed;
  top: 31rem;
  left: 200px;
}

.icon_top {
  float: left;
  position: fixed;
  top: 13rem;
  left: 1rem;
}

.menu {
  text-align: center;
  height:40px;
  width: 100px;
  background-color:#000000;
  color: #fff;
  text-decoration: none;
  font-family: arial;
  display: block;
  border-radius: 4px;
  padding-top: 10px;
}

.btn {
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 4rem;
  padding: 1rem;
  color: #FFF;
  background: #000000;
  border-radius: 4px;
  border: 0px
}

// 全体
.sub-title {
  text-decoration: none;
  text-align: left;
  position: fixed;
  top: 6rem;
  font-size: 3rem;
  font-weight: bolder;
  font-family: arial;
  padding-left: 2rem;
  padding-top: 1rem;
  clear: left;
}

.sub-title a {
  color: #000000;
}

.container-fluid {
  margin:0 auto;
  text-align: center;
  padding-top: 10rem;
  border: solid 0px;
}

// テーブル関係
table, td, th {
  border-bottom: 1px solid black;
}

th {
  height: 3rem;
  background: #000000;
  color: #FFF;
}

table {
  margin: auto;
  height: auto;
  table-layout: fixed;
　width: 100%;
}

table.follow_box {
  float: left;
  position: fixed;
  top: 35rem;
  left: 1rem;
  border: solid 0px;
}

table.count_box {
  float: left;
  position: absolute;
  top: 60rem;
  right: 1rem;
  border: solid 0px;
}

td.follow_link {
  font-size: 3rem;
  font-family: arial;
  font-weight: bolder;
  border: solid 0px;
}

td.follow {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height: 2rem;
  font-size: 1.5rem;
  font-family: arial;
  padding: 3px;
  border: solid 0px;
}

td.count_link {
  text-align: right;
  font-size: 3rem;
  font-family: arial;
  font-weight: bolder;
  border: solid 0px;
}

td.post_count {
  text-align: left;
  vertical-align: bottom;
  width: 100px;
  height: 2rem;
  font-size: 1.5rem;
  font-family: arial;
  padding: 3px;
  padding-left: 5px;
  border: solid 0px;
}

td.box_image {
  text-align: center;
  vertical-align: top;
  width: 20rem;
}

td.box_text {
  text-align: left;
  font-size: 1.5rem;
  padding-right: 5rem;
}

.box_1 {
  height: auto;
  width: 10rem;
  text-align: center;
  padding: 1rem;
}

.box_2 {
  height: auto;
  width: 20rem;
  text-align: center;
  padding: 1rem;
}

.box_3 {
  height: auto;
  width: 30rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
}

.box_3 a {
  color: #000000;
}

// 登録関連
.text_field {
  border-radius: 4px;
  border: 1px solid #666666;
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.text {
  text-align: right;
  width: 20rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.post_field {
  border-radius: 4px;
  border: 1px solid #666666;
  width: 30rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.tag_field {
  width: 50rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.content_field {
  width: 50rem;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

select, option {
  width: 12rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
}


// ログイン
.login_link {
  text-decoration: none;
  text-align: center;
  width: 15rem;
  height: 4rem;
  padding: 1rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bolder;
  border: 0px
}
